!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Application Title"
      %meta{:content => content_for?(:description) ? yield(:description) : "Rails Bootstrap", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = csrf_meta_tags
  %body
    = render 'layouts/navigation'

    %main{:role => "main"}
      .container
        .content
          .row
            .span12
              = render 'layouts/messages'
              = yield
          %footer
